.dropdown {
  position: relative;

  &__content {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    width: 500px;
    min-height: 200px;

    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    border-radius: 15px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;

    z-index: 100;

    &.is-active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  &__content-title {
    margin: 0;
  }

  &__iframe-video {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 15px;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 15px;
    }
  }

  &__link {
    display: block;
    color: #ff00ff;
    padding: 5px 0;
  }

  &__list {
    list-style: none;
  }

  &__content-close {
    background-color: #ffffff;
    border: none;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #ff00ff;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__content-footer {
    margin-top: auto;
  }
}
