---
import Dropdown from '@components/Dropdown/Dropdown'
---

<ul class="dropdowns-list">
  <li class="dropdowns-list__item">
    <Dropdown />
  </li>
  <li class="dropdowns-list__item">
    <Dropdown />
  </li>
  <li class="dropdowns-list__item">
    <Dropdown />
  </li>
</ul>
